
<meta name="viewport" content="width=device-width" />


<div class="container">
    @*<h1>@ViewBag.Stylist</h1>*@
    <h2 style="align-content:center">Salon Appointments with @ViewBag.Stylist</h2>
    @*@Html.ActionLink("Home", "Index", "Home")*@
    <table class="table table_condensed" id="Grid"></table>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            var myParam = '@ViewBag.Stylist';
            var mydata = { stylist: myParam };

            $.ajax({
                url: '@Url.Action("GetAppointmentPage", "Home")',
                type: "GET",
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: mydata,
                cache: false,
                async: true,
                success: function (response) {
                   
                    var data = response;
                    //    $('#Grid').append('<table><tr><th>Date</th><th>Time</th><th>Stylist</th><th>Customer</th><th>Phone</th><th>Style</th><th>Info</th></tr>');
                    var today = '';
                    var row = '';
                    var laststarttime = 0;
                    var yesterday = ''
                    row = '<div  id="rw1" class="row">  ';
                    for (var i = 0; i < data.length; ++i) {
                        if (i == 0)
                        {
                         
                            if (data[i].dayoftheweek == 1) {
                                today = "Sunday";
                            } else if (data[i].dayoftheweek == 2) {
                                today = "Monday";
                            } else if (data[i].dayoftheweek == 3) {
                                today = "Tuesday";
                            } else if (data[i].dayoftheweek == 4) {
                                today = "Wednesday";
                            } else if (data[i].dayoftheweek == 5) {
                                today = "Thursday";
                            } else if (data[i].dayoftheweek == 6) {
                                today = "Friday";
                            } else if (data[i].dayoftheweek == 7) {
                                today = "Saturday";
                            } else {
                                today = "n/a";
                            }
                            yesterday = data[i].theday;
                            row = row + '<div>';   /// extra div
                            //column
                            row = row + '    <div id="col1" class="col">         <div class="card"   id="card2" style="width: 9rem;">            <div  id="ch2" class="card-header">';                      
                            row = row + '<b>Today </b></br>' + dateformat(data[i].theday);
                            row = row + '</div> <ul class="list-group list-group-flush"> ';
                            yesterday = data[i].theday;
                        }
                        if (data[i].theday != yesterday) {
                            if (data[i].dayoftheweek == 1) {
                                today = "Sunday";
                            } else if (data[i].dayoftheweek == 2) {
                                today = "Monday";
                            } else if (data[i].dayoftheweek == 3) {
                                today = "Tuesday";
                            } else if (data[i].dayoftheweek == 4) {
                                today = "Wednesday";
                            } else if (data[i].dayoftheweek == 5) {
                                today = "Thursday";
                            } else if (data[i].dayoftheweek == 6) {
                                today = "Friday";
                            } else if (data[i].dayoftheweek == 7) {
                                today = "Saturday";
                            } else {
                                today = "n/a";
                            }
                            row = row + '</ul>  </div></div>';
                            row = row + '</div><div>';   /// extra div
                            //column
                            row = row + '    <div id="col1" class="col">         <div class="card"   id="card2" style="width: 9rem;">            <div  id="ch2" class="card-header">';
                            row = row + '<b>' + today + ' </b></br>' +  dateformat(data[i].theday);
                            row = row + '</div> <ul class="list-group list-group-flush"> ';
                            yesterday = data[i].theday;
                        }
                        var situation = data[i].time + ':00 ';  // + data[i].customer;
                        if (situation.length > 6) {
                            //  situation = "Not Available";
                        }
                        row = row + ' <li     class="list-group-item"><a  id="a' + data[i].theday.replace('/', '').replace('/', '') + data[i].time.replace(':', '') + '" data-date="' + data[i].theday + '"  data-time="' + data[i].time + '" href="#" class="mylink" style= "color:blue">' + situation + '</a></li>';
                        laststarttime = data[i].time;
                    }
                    row = row + '</div> </div></div>'
                    row = row + '<div>';   /// extra div
                    $('#Grid').append(row);

                    for (var i = 0; i < data.length; ++i) {

                        var myId = 'a' + data[i].theday.replace('/', '').replace('/', '') + data[i].time.replace(':', '');
                        $('#' + myId).attr('onClick', 'linkaction(this);');

                    }
                },
                error: OnErrorCall
            })

        });

        function dateformat(roughdate) {
    
            var yr = roughdate.substring(0, 4);
            var mnth = roughdate.substring(4,6 );
            var days = roughdate.substring(6, 8);
            return days + "/" + mnth + "/" + yr;
        }
        function OnSuccess(response) {

            var data = $.parseJSON(response);

            //   alert(data.BeeHive[0].beeType);
            $('#Grid').append('<table><tr><th>Date</th><th>Time</th><th>Stylist</th><th>Customer</th><th>Phone</th><th>Style</th><th>Info</th></tr>');

            for (var i = 0; i < data.length; ++i) {
                //                 $('#Grid').append('<div class="name">' + ToJavaScriptDate(data[i].review_date) + ' ' + data[i].review_stage
                //                     + ' ' + data[i].ops_product_id + ' ' + data[i].ProducT_sub_group_code
                //                     + '</>');

                $('#Grid').append('<tr bgcolor="#42f489"><td>' + data[i].date + '</td><td>' + data[i].time + '</td><td>'
                               + data[i].stylist + '</td><td>' + data[i].name + '</td><td>' + data[i].phone + '</td><td>'
                               + data[i].style + '</td><td>' + data[i].info + '</td><td>'
                   + '</td></tr>');
            }
            $('#Grid').append('</table>');
            // myLoop();
        }
        function OnErrorCall(jqXHR, textStatus, errorThrown) {
            debugger;
            alert(jqXHR.responseText);
            console.log("error - Ajax call has failed: <br />Err: " + errorThrown + "<br />textStatus: " + textStatus + "<br />ResponseText: " + jqXHR.responseText);
        }

        $(".mylink").click(function (e) {

            var ch = e;
            debugger;
            alert('here!');
        });
        function book(name, Phone, Style, Info, e) {
            var myId = e.id;

            var aDate;
            var aTime;

            for (var i = 0; i < e.attributes.length; ++i) {

                if (e.attributes[i].name == 'data-date') {
                    aDate = e.attributes[i].value;
                }
                if (e.attributes[i].name == 'data-time') {
                    aTime = e.attributes[i].value;
                }

            }


            var Xexisting = $('#' + myId)
            var existing = $('#' + myId).text();
            var myData = { name: name, phone: Phone, style: Style, info: Info, stylist: '@ViewBag.Stylist', date: aDate, time: aTime }
            existing = existing + ' ' + name;
            $('#' + myId).html(existing);

            $.ajax({
                url: '@Url.Action("AddAppointment", "Home")',
                type: 'GET',
                dataType: 'html',
                contentType: 'application/json; charset=utf-8',
                data: myData,
                success: OnSuccess,
                error: OnErrorCall
            })


            //  debugger;
        }

        function OnSuccess(response) {
        }
        function OnErrorCall(jqXHR, textStatus, errorThrown) {
            debugger;
            alert(jqXHR.responseText);
            console.log("error - Ajax call has failed: <br />Err: " + errorThrown + "<br />textStatus: " + textStatus + "<br />ResponseText: " + jqXHR.responseText);
        }
        function linkaction(e) {
            //   if (typeof jQuery.ui != 'undefined') {
            //       alert('no UI!!');
            //   }
            //   else{
            //       alert('jQuery.ui loaded');
            //   }
            var ch = e.text.length;
            if (ch > 8) {
                $('<div></div>').appendTo('body')
    .html('<div><h6>' + 'This Slot Has Been Taken!'
          + '<br/>   <p> </p>'
+ '</h6></div>')
    .dialog({
        modal: true, title: 'Error ', zIndex: 10000, autoOpen: true,
        width: 'auto', resizable: false,
        buttons: {
            Cancel: function () {
                $(this).dialog("close");
            },

        },
        close: function (event, ui) {

            $(this).remove();
        }
    });
            } else {

                $('<div></div>').appendTo('body')
                    .html('<div><h6>' + 'Booker: '
                          + '<br/>   <p> </p>'
                          + '<table><tr><td>'
        + '   <label><b>Name</label>&nbsp</td><td><input type="text" id="inname"</input></td></tr><tr>         '
        + '   <td><label><b>Phone</label></td><td><input type="text" id="inphone"</input></td></tr><tr>              '
        + '    <td><label><b>Style/Treatment</label> </td> <td><input type="text" id="instyle"</input></td></tr><tr>       '
        + '    <td><label><b>Info for Stylist</label> </td> <td><input type="text" id="ininfo"</input> </td></tr></table>    '
       + '</h6></div>')
                    .dialog({
                        modal: true, title: 'Booking Details ', zIndex: 10000, autoOpen: true,
                        width: 'auto', resizable: false,
                        buttons: {
                            Cancel: function () {
                                $(this).dialog("close");
                            },
                            Book: function () {
                                var Name = $('#inname').val();
                                var Phone = $('#inphone').val();
                                var Style = $('#instyle').val();
                                var Info = $('#ininfo').val();
                                //   var Name = $('#inname').val();
                                book(Name, Phone, Style, Info, e);
                                $(this).dialog("close");
                            }
                        },
                        close: function (event, ui) {

                            $(this).remove();
                        }
                    });
            }
        }

    </script>

}




