<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Happy Hairdressers</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("styles", false);





</head>
<body>
    <div>


        <div class="d-flex justify-content-center bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a href="#" onclick="window.location.href = '@Url.Action("Index", "Home")';">
                <img width="567" height="144" src="/image/listening1.gif" border="0">
                </a>
            </h5>
        </div>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">


            @*<div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <a class="navbar-brand" href="/">Happy Hairdressers</a>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/Home/Blog" class="nav-link">Blog</a></li>
                            @*<li class="nav-item"><a href="/Home/Hairdresser" class="nav-link">Stylist Calendar</a></li>
                                <li class="nav-item"><a href="/Home/Management" class="nav-link">Admin</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right mr-auto">
                                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                                <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
                            </ul>
                </div>*@
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Listening Hand</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
